{% extends 'base.html.twig' %}

{% block title %}Manifestations / Afficher{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Manifestations / Afficher</h1>
    </div>


    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ manifestation.denomination }}</h5>
                    </div>
                    <div class="container">
                        <div class="row mb-1">
                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <b>ID</b> : {{ manifestation.id }}</li>
                                    <li class="list-group-item">
                                        <b>Lieu</b> : {{ manifestation.lieu }}</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>Date de début</b> : {{ manifestation.dateDebut ? manifestation.dateDebut|date('d-m-Y H:i') : '' }}
                                    </li>
                                    <li class="list-group-item"><b>Date de fin</b> : {{ manifestation.dateFin ? manifestation.dateFin|date('d-m-Y H:i') : '' }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-warning"
                           href="{{ path('app_manifestation_edit', {'id': manifestation.id}) }}">Modifier</a>
                        {{ include('manifestation/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
