{% extends 'base.html.twig' %}

{% block title %}Manifestations / Afficher{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Manifestations / Afficher</h1>
    </div>


    <div class="container">
        <div class="row mb-4">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ manifestation.denomination }}</h5>
                    </div>
                    <div class="container">
                        <div class="row mb-1">
                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">
                                        <b>ID</b> : {{ manifestation.id }}</li>
                                    <li class="list-group-item">
                                        <b>Lieu</b> : {{ manifestation.lieu }}</li>
                                    <li class="list-group-item">
                                        <b>Prix Total HT</b> : {{ manifestation.getPrixTotalHT }}€</li>
                                </ul>
                            </div>
                            <div class="col">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item"><b>Date de début</b> : {{ manifestation.dateDebut ? manifestation.dateDebut|date('d-m-Y H:i') : '' }}
                                    </li>
                                    <li class="list-group-item"><b>Date de fin</b> : {{ manifestation.dateFin ? manifestation.dateFin|date('d-m-Y H:i') : '' }}
                                    </li>
                                    <li class="list-group-item">
                                        <b>Prix Total TTC</b> : {{ manifestation.getPrixTotalTTC }}€</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <a class="btn btn-warning"
                           href="{{ path('app_manifestation_edit', {'id': manifestation.id}) }}">Modifier</a>
                        {{ include('manifestation/_delete_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col">
                <ul class="nav nav-tabs pt-3 mb-3" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="materiels-tab" data-bs-toggle="tab" data-bs-target="#materiels-tab-pane" type="button" role="tab" aria-controls="materiels-tab-pane" aria-selected="true">Matériels</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="equipements-tab" data-bs-toggle="tab" data-bs-target="#equipements-tab-pane" type="button" role="tab" aria-controls="equipements-tab-pane" aria-selected="false">Équipements Sportif</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="transports-tab" data-bs-toggle="tab" data-bs-target="#transports-tab-pane" type="button" role="tab" aria-controls="transports-tab-pane" aria-selected="false">Transports</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="main-oeuvres-tab" data-bs-toggle="tab" data-bs-target="#main-oeuvres-tab-pane" type="button" role="tab" aria-controls="main-oeuvres-tab-pane" aria-selected="false">Main d'œuvres</button>
                    </li>
                </ul>
                <div class="tab-content mb-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="materiels-tab-pane" role="tabpanel" aria-labelledby="materiels-tab" tabindex="0">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Libellé</th>
                                <th>Quantité</th>
                                <th>Jour</th>
                                <th>Prix Unitaire HT</th>
                                <th>Prix Total HT</th>
                                <th>Prix Total TTC</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for manifestationMateriel in manifestation.manifestationMateriels %}
                                <tr>
                                    <td>{{ manifestationMateriel.materiel.libelle }}</td>
                                    <td>{{ manifestationMateriel.qte }}</td>
                                    <td>{{ manifestationMateriel.jour }}</td>
                                    <td>{{ manifestationMateriel.prixUnitaireFact }}</td>
                                    <td>{{ manifestationMateriel.getPrixTotalHTMateriel }}€</td>
                                    <td>{{ manifestationMateriel.getPrixTotalTTCMateriel }}€</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">Aucun Materiel</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="equipements-tab-pane" role="tabpanel" aria-labelledby="equipements-tab" tabindex="0">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Libellé</th>
                                <th>Heure</th>
                                <th>Prix Unitaire HT</th>
                                <th>Prix Total HT</th>
                                <th>Prix Total TTC</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for manifestationEquipementSportif in manifestation.manifestationEquipementSportifs %}
                                <tr>
                                    <td>{{ manifestationEquipementSportif.equipementSportif.libelle }}</td>
                                    <td>{{ manifestationEquipementSportif.heure }}</td>
                                    <td>{{ manifestationEquipementSportif.prixHoraireFact }}</td>
                                    <td>{{ manifestationEquipementSportif.getPrixTotalHTEquipementSportif }}€</td>
                                    <td>{{ manifestationEquipementSportif.getPrixTotalTTCEquipementSportif }}€</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">Aucun Équipement Sportif</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="transports-tab-pane" role="tabpanel" aria-labelledby="transports-tab" tabindex="0">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Libellé</th>
                                <th>Heure</th>
                                <th>Prix Unitaire HT</th>
                                <th>Prix Total HT</th>
                                <th>Prix Total TTC</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for manifestationTransport in manifestation.manifestationTransports %}
                                <tr>
                                    <td>{{ manifestationTransport.transport.libelle }}</td>
                                    <td>{{ manifestationTransport.heure }}</td>
                                    <td>{{ manifestationTransport.prixHoraireFact }}</td>
                                    <td>{{ manifestationTransport.getPrixTotalHTTransport }}€</td>
                                    <td>{{ manifestationTransport.getPrixTotalTTCTransport }}€</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">Aucun Équipement Sportif</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="main-oeuvres-tab-pane" role="tabpanel" aria-labelledby="main-oeuvres-tab" tabindex="0">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Libellé</th>
                                <th>Heure</th>
                                <th>Prix Unitaire HT</th>
                                <th>Prix Total HT</th>
                                <th>Prix Total TTC</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for manifestationMainOeuvre in manifestation.manifestationMainOeuvres %}
                                <tr>
                                    <td>{{ manifestationMainOeuvre.mainOeuvre.categorie }}</td>
                                    <td>{{ manifestationMainOeuvre.heure }}</td>
                                    <td>{{ manifestationMainOeuvre.prixHoraireFact }}</td>
                                    <td>{{ manifestationMainOeuvre.getPrixTotalHTMainOeuvre }}€</td>
                                    <td>{{ manifestationMainOeuvre.getPrixTotalTTCMainOeuvre }}€</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="6">Aucune Main d'œuvre</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
